body {
  margin: 0;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
}

a {
  color: black;
}

.logo {
  display: flex;
  color: MediumAquamarine;
}

nav span {
  padding-right: 40px
}
