@charset "UTF-8";
/* CSS Document */

body {
  margin: 0;
}

a {
  color: black;
}

/* Header */
header {
  display: flex;
  border-bottom: solid 1px black;
  align-items: center;
  width: 100%;
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  color: mediumaquamarine;
  padding-left: 40px;
}

.logo span {
  padding-left: 15px;
}

nav {
  margin-left: auto;
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding-left: 40px;
}
/* Header */

/* Content */

.content {
  display: flex;
  width: 1300px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 78px;
  margin-left: auto;
  padding-top: 116px;
}

div {
  border: 2px solid black;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 638px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

/* Content */
